wp-config.php
.env
*.log
.htaccess
xmlrpc.php
.vscode

wp-admin/
wp-includes/
wp-*.php
index.php
!wp-content/themes/
!wp-content/themes/corte-de-timothy/
!wp-content/themes/corte-de-timothy/index.php
!page-*.php
uploads
w3tc-config
upgrade*
twentytwentyfive
cache
languages
plugins
robots.txt
license.txt
ruta.php
readme.html